.title1 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;

}

.main {
    width: 300px;
    height: 200px;
    text-align: center;
    margin: auto;

}

.circle {
    background: conic-gradient(rgb(0, 204, 204) 0%,
            rgb(0, 177, 201) 40%,
            rgb(255, 255, 255) 40%,
            rgb(255, 255, 255) 60%,
            rgb(0, 168, 76) 60%,
            rgb(0, 175, 93) 100%);
    border-radius: 100%;
    width: 320px;
    height: 320px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.circle2 {
    background-color: rgb(15, 2, 32);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: auto;
    align-items: center;
    display: flex;

}

.moon {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
}

.pointer {
    width: 320px;
    height: 320px;
    animation: charkhesh 5s linear infinite;
    position: absolute;
    
}


@keyframes charkhesh {

    from {
        transform: rotate(45deg)
    }

    to {
        transform: rotate(405deg)
    }

}

@keyframes step1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}


@keyframes step2 {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(0.7);
    }
}

.dam {

    animation: step1 5s linear infinite;
}


.hold {

    transform: scale(1.2);
}


.bazdam {
    animation: step2 5s linear infinite;
}